<h1>Register form</h1>

<div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" [(ngModel)]="email" />
</div>

<div class="form-group">
    <label>Fullname</label>
    <input type="text" class="form-control" #fullNameRef/>
</div>

<button class="btn btn-success" (click) = "handleChangeFullName(fullNameRef.value)">
    Submit
</button>

<p>Email: {{email}}</p>
<p>FullName: {{fullName}}</p>
<!-- <p>{{email}}</p>
<input [value] = "email" />

<p>{{fullName}}</p>
<input [value] #fullNameRef = "fullName"/>
<button class="btn btn-success" (click) = "handleChangeFullName(fullNameRef)"  >Submit</button> -->

