<div class="d-flex justify-content-between px-5 bg-secondary"  >
    <div>
        Cinema
    </div>
    <div class="d-flex" >
        <a routerLink = "/" class="mr-2" >Home</a>
        <a routerLink = "/movie" class="mr-2" >Movie</a>
        <a routerLink = "/booking" class="mr-2" >Booking</a>
        <a routerLink = "/signin" class="mr-2" >Signin</a>
        <a routerLink = "/signup" class="mr-2" >Signup</a>
    </div>
    <div >
        <p *ngIf="currentUser">
            {{currentUser.hoTen}}
        </p>
    </div>
</div>

<router-outlet></router-outlet>

<div class="d-flex justify-content-center align-item-center" >
    Footer
</div>