<!-- <h1 class="title" >Hello Angular</h1> -->

<!-- <app-demo></app-demo> -->

<!-- ?Bài Tập 1 -->
<!-- <app-header></app-header>
<div class="d-flex">
  <app-sibar class="w-25" ></app-sibar>
  <app-content class="w-75" ></app-content>
</div>
<app-footer></app-footer> -->

<!-- Bài Tập 2 -->
<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
<app-index></app-index>
<app-index-content></app-index-content>
<app-item></app-item>
<app-footer></app-footer> -->
<!-- <app-baitap2></app-baitap2> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-baitap4></app-baitap4> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->


<!-- Ví dụ ng-content -->
<!-- <app-button>
  //Nội dung nằm trong đây sẽ thay thế cho ng-content trong component button
  Submit
</app-button> -->

<!-- <app-button>
  //Nội dung nằm trong đây sẽ thay thế cho ng-content trong component button
  Click
</app-button> -->

<!-- <app-card>
  <p slot = "header">
      Sinh Viên 1
  </p>
  <div slot = "body">
    <p>Nguyễn Văn Tèo</p>
    <p>FE54</p>
  </div>
  <button slot ="footer" class="btn btn-success">
    Xem Chi Tiết
  </button>

</app-card> -->

<!-- <app-card>
  <p slot = "header">
      Profife
  </p>
  <div slot = "body">
    <p>Nguyễn Văn Tí</p>
    <p>FE55</p>
  </div>
  <button slot="footer" class="btn btn-primary ">
    Xem Chi Tiết
  </button>
</app-card> -->


<!-- Custom directive -->
<!-- <div appHightlight >
  Hightlight
</div> -->


<!-- <app-interaction></app-interaction> -->


<!-- <app-baitap8></app-baitap8> -->
<router-outlet></router-outlet>